<footer class="footer">
  <div class="py-20px bg-gold-1">
    <dl class="maxw-1300px mx-auto px-20px lg:px-50px ct flex-wrap">
      <dt class="font-size-1.1rem mr-20px hidden md:block">友情连接</dt>
      <dd class="m-10px box">
        <a href=""><img class="w-120px h-50px object-contain" src="https://img2.baidu.com/it/u=4028471425,2897262522&fm=253&fmt=auto&app=138&f=JPEG?w=640&h=286" alt="南京地铁Logo"></a>
      </dd>
      <dd class="m-10px box">
        <a href=""><img class="w-120px h-50px object-contain" src="" alt="北京地铁Logo"></a>
      </dd>
      <dd class="m-10px box">
        <a href=""><img class="w-120px h-50px object-contain" src="" alt="上海地铁Logo"></a>
      </dd>
      <dd class="m-10px box">
        <a href=""><img class="w-120px h-50px object-contain" src="" alt="广州地铁Logo"></a>
      </dd>
      <dd class="m-10px box">
        <a href=""><img class="w-120px h-50px object-contain" src="" alt="深圳地铁Logo"></a>
      </dd>
      <dd class="m-10px box">
        <a href=""><img class="w-120px h-50px object-contain" src="" alt="香港地铁Logo"></a>
      </dd>
    </dl>
  </div>
  <div class="bg-gold-3 border-t-10px border-fire">
    <div class="py-30px maxw-1300px mx-auto px-20px lg:px-50px pr md:minh-180px">
      <ul class="fr flex-wrap c-white fs-3">
        <li class="mr-40px my-5px"><a href="">公司介绍</a></li>
        <li class="mr-40px my-5px"><a href="">新闻资讯</a></li>
        <li class="mr-40px my-5px"><a href="">企业文化</a></li>
        <li class="mr-40px my-5px"><a href="">企业党建</a></li>
        <li class="mr-40px my-5px"><a href="">地铁运营</a></li>
        <li class="mr-40px my-5px"><a href="">工程建设</a></li>
        <li class="mr-40px my-5px"><a href="">招标采购</a></li>
        <li class="mr-40px my-5px"><a href="">人才招聘</a></li>
        <li class="mr-40px my-5px"><a href="">企业公告</a></li>
      </ul>
      <i class="hidden md:block ic pa right-10px lg:right-50px top-20px ic-changyongtubiao-fuben-16 c-gold-2 font-size-40px"></i>
      <div class="hidden md:block pa box w-170px h-48px bottom-0"></div>
      <div class="hidden md:block pa box w-190px h-110px bottom-0 right-300px"></div>
      <div class="hidden md:block pa box w-140px h-37px bottom-20% right-20px lg:right-50px"></div>
    </div>
  </div>
  <div class="border-t border-white bg-gold-3 border-op-40">
    <div class="maxw-1300px mx-auto px-20px lg:px-50px c-white fc lg:fr">
      <div class="md:fr">
        <div class="f1 md:border-r border-gold-2 md:py-20px pr-22px pr">
          <h3 class="font-size-0.95rem">公司地址：</h3>
          <p class="fs-3">郑州市郑东新区康宁街100号</p>
          <p class="fs-3">邮编：450000</p>
          <p class="font-size-0.7rem">100 Kangning Street, Zhengdong New District, Zhengzhou City</p>
          <div class="hidden md:block dot pa -right-10px -top-10px"></div>
        </div>
        <div class="f1 md:border-r border-gold-2 md:py-20px md:px-22px pr">
          <h3 class="font-size-0.95rem">联系方式：</h3>
          <p class="fs-3">乘客服务热线：0371-55166166（每天8:30-20:00）</p>
          <p class="fs-3">传真：0371-55165516/55166617（工作日9:00—17:00）</p>
          <p class="fs-3">24小时应急值班电话：0371-55165516</p>
          <div class="hidden md:block dot pa -right-10px -top-10px"></div>
        </div>
        <div class="f1 md:py-20px md:px-22px pr">
          <h3 class="font-size-0.95rem">电子邮箱：</h3>
          <p class="fs-3">zzmetro@zzmetro.cn</p>
        </div>
      </div>
      <div class="f1 xs:fr">
        <div class="f1 lg:pl-20px pr-20px py-20px">
          <img class="w-full" src="https://img0.pconline.com.cn/pconline/1202/03/2662990_code.png" alt="郑州地铁微信公众号二维码">
          <div class="fs-3 text-center mt-10px">郑州地铁微信</div>
        </div>
        <div class="f1 pr-20px py-20px">
          <img class="w-full" src="https://img0.pconline.com.cn/pconline/1202/03/2662990_code.png" alt="郑州地铁资讯微信二维码">
          <div class="fs-3 text-center mt-10px">郑州地铁资讯微信</div>
        </div>
        <div class="f1 py-20px">
          <img class="w-full" src="https://img0.pconline.com.cn/pconline/1202/03/2662990_code.png" alt="郑州地铁微博二维码">
          <div class="fs-3 text-center mt-10px">郑州地铁微博</div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-gold-2 bg-gold-3 py-20px">
    <div class="maxw-1300px mx-auto px-20px lg:px-50px fs-3 c-white">Copyright 2010 郑州地铁集团有限公司 版权所有 All rights reserved. 豫ICP备13021555号</div>
  </div>
</footer>
