<div class="h-380px bg-gold-2 pr" style="background: url(./imgs/party-top.jpg) center / cover;">
  <div class="maxw-1300px mx-auto px-20px lg:px-50px pt-130px fc as">
    <div class="fr ac font-serif">
      <div class="fs-19 c-gold mr-10px">E</div>
      <div>
        <div class="fs-8 c-gold">NTERPRISE</div>
        <div class="fs-4 c-white mt-5px">INTRODUCTION</div>
      </div>
    </div>
    <h1 class="c-white fs-9 m0">企业党建</h1>
  </div>
  <div class="pa w-full bottom-0">
    <div class="maxw-1300px mx-auto md:px-20px lg:px-50px">
      <div class="fr ac bg-white rd-t-10px overflow-x-auto px-20px b-b b-gold-2">
        <ul class="f1 fr ac fs-4 nowrap">
          <!-- 添加 b-b-2 b-fire c-fire 类，来高亮标签 -->
          <li><a class="block lg:px-25px px-15px py-25px b-b-2 b-fire c-fire" href="/party/organization.html">党组织架构</a></li>
          <li><a class="block lg:px-25px px-15px py-25px" href="/party/news.html">党建动态</a></li>
          <li><a class="block lg:px-25px px-15px py-25px" href="/party/integrity.html">廉洁从业</a></li>
          <li><a class="block lg:px-25px px-15px py-25px" href="/party/news.html">党史学习教育</a></li>
        </ul>
        <ul class="hidden md:fr ac">
          <li class="ct line-height-5"><a href="/">首页</a></li>
          <li class="ct ic ct ic-jiantouyou mx-5px"></li>
          <li class="ct line-height-5 c-gold">企业党建</li>
        </ul>
      </div>
    </div>
  </div>
</div>