<section class="my-100px">
    <div class="hidden md:block h-2px bg-gold-2"></div>
    <div class="maxw-1366px xl:maxw-1540px mx-a md:px-20px lg:px-50px pr">

      <div class="fr as p-20px md:p-40px lg:pl-600px lg:b-r-2 b-gold-2 pr">
        <div class="dot mr-15px mt-12px"></div>
        <div class="f-1">
          <h1 class="m0 fs-7">联系我们</h1>
          <div class="c-gold fs-5 mt-10px">CONTACT US</div>
        </div>
        <div class="pa dot hidden lg:block -right-11px -top-10px"></div>
      </div>

      <div id="map-1" class=" bg-gold-1 h-300px sm:h-400px lg:h-530px"></div>

      <div class="md:fr lg:block lg:w-480px lg:pa lg:top-0 z-10 lg:left-130px lg:shadow-lg">
        <div class="f1 minh-300px bg-gold-2 lg:h-420px hidden md:block">
          <img class="size-full object-cover" src="./imgs/building.jpg" alt="">
        </div>
        <div class="f1 p-20px md:p-30px bg-white">
          <h2 class="c-fire fs-7 m0">郑州地铁集团有限公司</h2>
          <div class="fr as mt-30px">
            <div class="ic ic-dizhi fs-5 mr-10px"></div>
            <p class="f1 m0">地址：郑州市郑东新区康宁街100号</p>
          </div>
          <div class="fr as mt-20px">
            <div class="ic ic-search fs-5 mr-10px"></div>
            <p class="f1 m0">电话：0371-55166617（工作日9:00—17:00）</p>
          </div>
          <div class="fr as mt-20px">
            <div class="ic ic-dayinchuanzhen fs-5 mr-10px"></div>
            <p class="f1 m0">传真：0371-55166617（工作日9:00—17:00）</p>
          </div>
          <div class="fr as mt-20px">
            <div class="ic ic-dianhua fs-5 mr-10px"></div>
            <p class="f1 m0">24小时应急值班电话：0371-55165516</p>
          </div>
          <div class="fr as mt-20px">
            <div class="ic ic-youjian fs-5 mr-10px"></div>
            <p class="f1 m0">电子邮箱：zzmetro@zzmetro.cn</p>
          </div>
        </div>
      </div>

      
      <div class="mt-40px lg:mt-100px md:fr">
        <div id="map-2" class=" f1 bg-gold-1 h-300px sm:h-360px lg:h-430px"></div>
        <div class="f1 p-20px md:p-30px">
          <h2 class="c-fire fs-7 m0">郑州地铁集团有限公司运营分公司</h2>
          <div class="fr as mt-30px">
            <div class="ic ic-dizhi fs-5 mr-10px"></div>
            <p class="f1 m0">地址：郑州市郑东新区郑开大道省委党校西侧</p>
          </div>
          <div class="fr as mt-20px">
            <div class="ic ic-dianhua fs-5 mr-10px"></div>
            <p class="f1 m0">乘客服务热线：0371-55166166（每天8:30—20:00）</p>
          </div>
          <div class="fr as mt-20px">
            <div class="ic ic-erweima fs-5 mr-10px"></div>
            <p class="f1 m0">微信公众号：</p>
          </div>
          <div class="px-25px"><img class="w-120px" src="/assets/imgs/qr-weixin.jpg" alt=""></div>
        </div>
      </div>

      <div class="mt-40px lg:shadow-lg p-20px lg:p-50px lg:b-t-1 lg:b-gold-1">
        <h2 class="c-fire fs-7 m0">清风热线（集团纪检监察部）</h2>
        <div class="md:fr ac">
          <div class="f-1">
            <div class="fr as mt-30px">
              <div class="ic ic-dianhua fs-5 mr-10px"></div>
              <p class="f1 m0">电话：0371-55166601，17537112388（工作日9:00—17:00）</p>
            </div>
            <div class="fr as mt-20px">
              <div class="ic ic-youjian fs-5 mr-10px"></div>
              <p class="f1 m0">电子邮箱：zgjjsjb@zzmetro.cn，zgjjsjb@163.com</p>
            </div>
          </div>
          <div class="f1 fr md:ac mt-20px">
            <div class="ic ic-erweima fs-5 mr-10px"></div>
            <p class="f1 m0">微信公众号：</p>
            <div class="px-25px"><img class="w-120px" src="/assets/imgs/qr-weixin.jpg" alt=""></div>
          </div>
        </div>

        <div class="h-1px bg-gold-2 my-30px"></div>

        <h2 class="c-fire fs-7 m0">商易行APP</h2>
        <div class="md:fr ac">
          <div class="f1 fr as mt-30px">
            <div class="ic ic-dianhua fs-5 mr-10px"></div>
            <p class="f1 m0">专线服务电话：4008866333 （服务时间：8:00-21:00）</p>
          </div>
          <div class="f1 fr md:ac mt-20px">
            <div class="ic ic-erweima fs-5 mr-10px"></div>
            <p class="f1 m0">商易行APP二维码</p>
            <div class="px-25px"><img class="w-120px" src="/assets/imgs/qr-weixin.jpg" alt=""></div>
          </div>
        </div>

        <div class="h-1px bg-gold-2 my-30px"></div>

        <div class="md:fr">
          <div class="f1">
            <h2 class="c-fire fs-7 m0">人事招聘</h2>
            <div class="fr as mt-30px">
              <div class="ic ic-dianhua fs-5 mr-10px"></div>
              <p class="f1 m0">电话：0371-55165555（工作日9:00—17:00）</p>
            </div>
            <div class="fr as mt-20px">
              <div class="ic ic-youjian fs-5 mr-10px"></div>
              <p class="f1 m0">电子邮箱：hr@zzmetro.cn，zzmetrozp@163.com</p>
            </div>
          </div>

          <div class="h-1px md:h-auto md:w-1px bg-gold-2 my-40px md:my-0 md:mx-40px"></div>

          <div class="f1">
            <h2 class="c-fire fs-7 m0">资源开发（集团资源经营管理部）</h2>
            <div class="fr as mt-30px">
              <div class="ic ic-dianhua fs-5 mr-10px"></div>
              <p class="f1 m0">电话：0371-55166965（工作日9:00—17:00）</p>
            </div>
            <div class="fr as mt-20px">
              <div class="ic ic-youjian fs-5 mr-10px"></div>
              <p class="f1 m0">电子邮箱：dongying@zzmetro.cn</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=tc49Exhsu074fp7mEePKViyHwFBBjthe"></script>
  <script>
    function initMap(id, lon, lat) {
      var map = new BMapGL.Map(id);
      var point = new BMapGL.Point(lon, lat);
      var marker = new BMapGL.Marker(point);
      map.addOverlay(marker);           
      map.centerAndZoom(point, 17);
      map.enableScrollWheelZoom(true);
    }
    initMap('map-1', 113.782942,34.758222);
    initMap('map-2', 113.846277,34.791407);  
  </script>