
<div class="maxw-1540px mx-a lg:px-20px">
    <ul class="grid sm:grid-cols-2 md:grid-cols-3">
      <li class="w-full p-20px md:p-30px h:bg-gold-1 group">
        <a class="block sm:h-400px fr sm:fc pr" href="">
          <div class="w-100px h-100px sm:w-full sm:h-180px bg-gold-2 sm:group-hover:hidden">
            <img class="size-full object-cover" src="https://img.zcool.cn/community/01287d5f49d42a11013e3187c76dbe.jpg@3000w_1l_0o_100sh.jpg" alt="" >
          </div>
          <div class="f1 fc w-full sm:py-20px pl-20px sm:pl-0">
            <div class="fr ac">
              <time class="c-gold f1">2023-09-09</time>
              <span class="hidden sm:fr ac font-size-0.9rem">
                <span class="ic ic-bianji c-gold mr-5px"></span>
                <span class="c-dark">李某某</span>
              </span>
              <span class="fr ac font-size-0.9rem ml-10px">
                <span class="ic ic-yanjing c-gold mr-5px"></span>
                <span class="c-dark">2323</span>
              </span>
            </div>
            <div class="f1">
              <h2 class="m0 font-size-1.1rem mt-10px sm:mt-15px c-dark">解锁全民阅读新方式——地铁图书漂流屋正式启动运行</h2>
              <p class="hidden group-hover-block mt-15px font-size-0.95rem c-gray-5">12月4日上午，“郑好读书·一本书图书漂流屋”项目在第38个国际志愿者日主题实践活动上正式亮相，郑州市首个地铁“图书漂流屋”在地铁1号线紫荆山站F口正式投入运行。</p>
            </div>
            <div class="c-gold">阅读全文</div>
          </div>
        </a>
      </li>
      
      <li class="w-full p-20px md:p-30px h:bg-gold-1 group">
        <a class="block sm:h-400px fr sm:fc pr" href="">
          <div class="w-100px h-100px sm:w-full sm:h-180px bg-gold-2 sm:group-hover:hidden">
            <img class="size-full object-cover" src="https://img.zcool.cn/community/01287d5f49d42a11013e3187c76dbe.jpg@3000w_1l_0o_100sh.jpg" alt="" >
          </div>
          <div class="f1 fc w-full sm:py-20px pl-20px sm:pl-0">
            <div class="fr ac">
              <time class="c-gold f1">2023-09-09</time>
              <span class="hidden sm:fr ac font-size-0.9rem">
                <span class="ic ic-bianji c-gold mr-5px"></span>
                <span class="c-dark">李某某</span>
              </span>
              <span class="fr ac font-size-0.9rem ml-10px">
                <span class="ic ic-yanjing c-gold mr-5px"></span>
                <span class="c-dark">2323</span>
              </span>
            </div>
            <div class="f1">
              <h2 class="m0 font-size-1.1rem mt-10px sm:mt-15px c-dark">解锁全民阅读新方式——地铁图书漂流屋正式启动运行</h2>
              <p class="hidden group-hover-block mt-15px font-size-0.95rem c-gray-5">12月4日上午，“郑好读书·一本书图书漂流屋”项目在第38个国际志愿者日主题实践活动上正式亮相，郑州市首个地铁“图书漂流屋”在地铁1号线紫荆山站F口正式投入运行。</p>
            </div>
            <div class="c-gold">阅读全文</div>
          </div>
        </a>
      </li>
      
      <li class="w-full p-20px md:p-30px h:bg-gold-1 group">
        <a class="block sm:h-400px fr sm:fc pr" href="">
          <div class="w-100px h-100px sm:w-full sm:h-180px bg-gold-2 sm:group-hover:hidden">
            <img class="size-full object-cover" src="https://img.zcool.cn/community/01287d5f49d42a11013e3187c76dbe.jpg@3000w_1l_0o_100sh.jpg" alt="" >
          </div>
          <div class="f1 fc w-full sm:py-20px pl-20px sm:pl-0">
            <div class="fr ac">
              <time class="c-gold f1">2023-09-09</time>
              <span class="hidden sm:fr ac font-size-0.9rem">
                <span class="ic ic-bianji c-gold mr-5px"></span>
                <span class="c-dark">李某某</span>
              </span>
              <span class="fr ac font-size-0.9rem ml-10px">
                <span class="ic ic-yanjing c-gold mr-5px"></span>
                <span class="c-dark">2323</span>
              </span>
            </div>
            <div class="f1">
              <h2 class="m0 font-size-1.1rem mt-10px sm:mt-15px c-dark">解锁全民阅读新方式——地铁图书漂流屋正式启动运行</h2>
              <p class="hidden group-hover-block mt-15px font-size-0.95rem c-gray-5">12月4日上午，“郑好读书·一本书图书漂流屋”项目在第38个国际志愿者日主题实践活动上正式亮相，郑州市首个地铁“图书漂流屋”在地铁1号线紫荆山站F口正式投入运行。</p>
            </div>
            <div class="c-gold">阅读全文</div>
          </div>
        </a>
      </li>
      
      <li class="w-full p-20px md:p-30px h:bg-gold-1 group">
        <a class="block sm:h-400px fr sm:fc pr" href="">
          <div class="w-100px h-100px sm:w-full sm:h-180px bg-gold-2 sm:group-hover:hidden">
            <img class="size-full object-cover" src="https://img.zcool.cn/community/01287d5f49d42a11013e3187c76dbe.jpg@3000w_1l_0o_100sh.jpg" alt="" >
          </div>
          <div class="f1 fc w-full sm:py-20px pl-20px sm:pl-0">
            <div class="fr ac">
              <time class="c-gold f1">2023-09-09</time>
              <span class="hidden sm:fr ac font-size-0.9rem">
                <span class="ic ic-bianji c-gold mr-5px"></span>
                <span class="c-dark">李某某</span>
              </span>
              <span class="fr ac font-size-0.9rem ml-10px">
                <span class="ic ic-yanjing c-gold mr-5px"></span>
                <span class="c-dark">2323</span>
              </span>
            </div>
            <div class="f1">
              <h2 class="m0 font-size-1.1rem mt-10px sm:mt-15px c-dark">解锁全民阅读新方式——地铁图书漂流屋正式启动运行</h2>
              <p class="hidden group-hover-block mt-15px font-size-0.95rem c-gray-5">12月4日上午，“郑好读书·一本书图书漂流屋”项目在第38个国际志愿者日主题实践活动上正式亮相，郑州市首个地铁“图书漂流屋”在地铁1号线紫荆山站F口正式投入运行。</p>
            </div>
            <div class="c-gold">阅读全文</div>
          </div>
        </a>
      </li>
      
      <li class="w-full p-20px md:p-30px h:bg-gold-1 group">
        <a class="block sm:h-400px fr sm:fc pr" href="">
          <div class="w-100px h-100px sm:w-full sm:h-180px bg-gold-2 sm:group-hover:hidden">
            <img class="size-full object-cover" src="https://img.zcool.cn/community/01287d5f49d42a11013e3187c76dbe.jpg@3000w_1l_0o_100sh.jpg" alt="" >
          </div>
          <div class="f1 fc w-full sm:py-20px pl-20px sm:pl-0">
            <div class="fr ac">
              <time class="c-gold f1">2023-09-09</time>
              <span class="hidden sm:fr ac font-size-0.9rem">
                <span class="ic ic-bianji c-gold mr-5px"></span>
                <span class="c-dark">李某某</span>
              </span>
              <span class="fr ac font-size-0.9rem ml-10px">
                <span class="ic ic-yanjing c-gold mr-5px"></span>
                <span class="c-dark">2323</span>
              </span>
            </div>
            <div class="f1">
              <h2 class="m0 font-size-1.1rem mt-10px sm:mt-15px c-dark">解锁全民阅读新方式——地铁图书漂流屋正式启动运行</h2>
              <p class="hidden group-hover-block mt-15px font-size-0.95rem c-gray-5">12月4日上午，“郑好读书·一本书图书漂流屋”项目在第38个国际志愿者日主题实践活动上正式亮相，郑州市首个地铁“图书漂流屋”在地铁1号线紫荆山站F口正式投入运行。</p>
            </div>
            <div class="c-gold">阅读全文</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
