<ul class="maxw-1540px mx-a px-10px lg:px-40px md:grid grid-cols-2 md:py-60px c-dark">
  <li class="w-full">
    <a class="fr ac oh py-30px px-10px b-b b-gold-2 group h:b-fire" href="">
      <div class="fc ct b b-gold-2 w-75px h-88px group-hover:bg-fire">
        <time class="block text-center group-hover:c-white">2023-12</time>
        <div class="fs-8 c-gold mt-10px font-bold group-hover:c-white">01</div>
      </div>
      <div class="f1 oh ml-24px">
        <h2 class="m0 font-size-1.2rem">中华人民共和国反垄断法</h2>
        <p class="m0 ellipsis mt-10px font-size-0.9rem c-gray-5">（2007年8月30日第十届全国人民代表大会常务委员会第二十九次会议通过 根据2022年6月24日第十三届全国人民代表大会常务委员会第三十五次会议《关于修改〈中华人民共和国反垄断法〉的决定》修正）</p>
        <div class="mt-10px c-gold">阅读全文</div>
      </div>
    </a>
  </li>
  <li class="w-full">
    <a class="fr ac oh py-30px px-10px b-b b-gold-2 group h:b-fire" href="">
      <div class="fc ct b b-gold-2 w-75px h-88px group-hover:bg-fire">
        <time class="block text-center group-hover:c-white">2023-12</time>
        <div class="fs-8 c-gold mt-10px font-bold group-hover:c-white">01</div>
      </div>
      <div class="f1 oh ml-24px">
        <h2 class="m0 font-size-1.2rem">中华人民共和国反垄断法</h2>
        <p class="m0 ellipsis mt-10px font-size-0.9rem c-gray-5">（2007年8月30日第十届全国人民代表大会常务委员会第二十九次会议通过 根据2022年6月24日第十三届全国人民代表大会常务委员会第三十五次会议《关于修改〈中华人民共和国反垄断法〉的决定》修正）</p>
        <div class="mt-10px c-gold">阅读全文</div>
      </div>
    </a>
  </li>
  <li class="w-full">
    <a class="fr ac oh py-30px px-10px b-b b-gold-2 group h:b-fire" href="">
      <div class="fc ct b b-gold-2 w-75px h-88px group-hover:bg-fire">
        <time class="block text-center group-hover:c-white">2023-12</time>
        <div class="fs-8 c-gold mt-10px font-bold group-hover:c-white">01</div>
      </div>
      <div class="f1 oh ml-24px">
        <h2 class="m0 font-size-1.2rem">中华人民共和国反垄断法</h2>
        <p class="m0 ellipsis mt-10px font-size-0.9rem c-gray-5">（2007年8月30日第十届全国人民代表大会常务委员会第二十九次会议通过 根据2022年6月24日第十三届全国人民代表大会常务委员会第三十五次会议《关于修改〈中华人民共和国反垄断法〉的决定》修正）</p>
        <div class="mt-10px c-gold">阅读全文</div>
      </div>
    </a>
  </li>
  <li class="w-full">
    <a class="fr ac oh py-30px px-10px b-b b-gold-2 group h:b-fire" href="">
      <div class="fc ct b b-gold-2 w-75px h-88px group-hover:bg-fire">
        <time class="block text-center group-hover:c-white">2023-12</time>
        <div class="fs-8 c-gold mt-10px font-bold group-hover:c-white">01</div>
      </div>
      <div class="f1 oh ml-24px">
        <h2 class="m0 font-size-1.2rem">中华人民共和国反垄断法</h2>
        <p class="m0 ellipsis mt-10px font-size-0.9rem c-gray-5">（2007年8月30日第十届全国人民代表大会常务委员会第二十九次会议通过 根据2022年6月24日第十三届全国人民代表大会常务委员会第三十五次会议《关于修改〈中华人民共和国反垄断法〉的决定》修正）</p>
        <div class="mt-10px c-gold">阅读全文</div>
      </div>
    </a>
  </li>
  <li class="w-full">
    <a class="fr ac oh py-30px px-10px b-b b-gold-2 group h:b-fire" href="">
      <div class="fc ct b b-gold-2 w-75px h-88px group-hover:bg-fire">
        <time class="block text-center group-hover:c-white">2023-12</time>
        <div class="fs-8 c-gold mt-10px font-bold group-hover:c-white">01</div>
      </div>
      <div class="f1 oh ml-24px">
        <h2 class="m0 font-size-1.2rem">中华人民共和国反垄断法</h2>
        <p class="m0 ellipsis mt-10px font-size-0.9rem c-gray-5">（2007年8月30日第十届全国人民代表大会常务委员会第二十九次会议通过 根据2022年6月24日第十三届全国人民代表大会常务委员会第三十五次会议《关于修改〈中华人民共和国反垄断法〉的决定》修正）</p>
        <div class="mt-10px c-gold">阅读全文</div>
      </div>
    </a>
  </li>
  <li class="w-full">
    <a class="fr ac oh py-30px px-10px b-b b-gold-2 group h:b-fire" href="">
      <div class="fc ct b b-gold-2 w-75px h-88px group-hover:bg-fire">
        <time class="block text-center group-hover:c-white">2023-12</time>
        <div class="fs-8 c-gold mt-10px font-bold group-hover:c-white">01</div>
      </div>
      <div class="f1 oh ml-24px">
        <h2 class="m0 font-size-1.2rem">中华人民共和国反垄断法</h2>
        <p class="m0 ellipsis mt-10px font-size-0.9rem c-gray-5">（2007年8月30日第十届全国人民代表大会常务委员会第二十九次会议通过 根据2022年6月24日第十三届全国人民代表大会常务委员会第三十五次会议《关于修改〈中华人民共和国反垄断法〉的决定》修正）</p>
        <div class="mt-10px c-gold">阅读全文</div>
      </div>
    </a>
  </li>
</ul>
