
<div class="ct py-50px">
  <ul class="fr ac">
    <li><a class="ic ic-jiantouzuo p-10px fs-5 a mx-10px" href="" title="上一页"></a></li>
    <li><a class="w-45px h-45px fs-5 a b ct b-gold-2 rd-7px mx-5px" href="?page=1" title="第1页">1</a></li>
    <li><a class="w-45px h-45px fs-5 a b ct b-gold-2 rd-7px mx-5px" href="?page=2" title="第2页">2</a></li>
    <li><a class="w-45px h-45px fs-5 a b ct b-gold-2 rd-7px mx-5px" href="?page=3" title="第3页">3</a></li>
    <li><a class="ic ic-jiantouyou p-10px fs-5 a mx-10px" href="" title="下一页"></a></li>
  </ul>
  <span>共 100 条</span>
</div>